body
{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

header
{
	position: relative;
	z-index: 1;
}

#news
{
	position: absolute;
	left: 50px;
	top: 350px;
	z-index: 2;
}

#map
{
	position: absolute;
	left: 650px;
	top: 350px;
	z-index: 2;
}

#octopus
{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
}

* 
{
	border: 2px solid;
}
