<!DOCTYPE html>
<html>
    <head>
        <!--<meta charset="utf-8">
		  место для подключения еуга meta -->
		
		<title> "О.М.Г." фестиваль Фестиваль творческой молодежи </title>
		
		<script src="js/jquery.js"></script>

        <%- partial('navigation/navigation')%>
        <!-- <script src="js/load-content.js"></script>  -->
		
		<link rel="stylesheet" href="css/global.css"/>
	</head>

	<body>
        <header>
            <!--<div class="menu">  -->

                <!--</ul>  -->
            <!--</div>    -->
        </header>

        <!--<div id="content"></div>-->
        <article> <%- body %> </article>

			
		
	</body>
</html>