<nav>
    <img src="img/font.png" width= "800" height= "500">
    <!--<div id='news'>
        <img src="img/news.png" width= "100" height= "100">
    </div>
    <div id='map'>
        <img src="img/map.png" width= "100" height= "100">
    </div>
    <div id='octopus'>
        <img src="img/octopus.png" width= "800" height= "500">
    </div>
    <!--</div>     -->

    <!--<div id="sup-menu-box"> -->
    <!--<ul id="menu"> -->
    <a class="News" href="/">Главная</a>
    <a class="Action" href="Actions">Сценическое выступление</a>
    <a class="Defile" href="Defile">Дефиле</a>
    <a class="Arts" href="Arts">Арт площадка</a>
    <a class="Service" href="Auth">Личный кабинет</a>
    <a class="Map" href="Maps">Карта сайта</a>
    <!--  вариант с табличной разметкой
    <li class="News"><a href="#">Новости</a></li>
    <li class="Action"><a href="#">Сценическое выступление</a></li>
    <li class="Defile"><a href="#">Дефиле</a></li>
    <li class="Arts"><a href="#">Арт площадка</a></li>
    <li class="Service"><a href="#">Личный кабинет</a></li>
    <li class="Map"><a href="#">Карта сайта</a></li> -->
</nav>