<% layout('../index') %>

<div id="registration-form">

    <p class="form-username-label">Имя пользователя:</p>
    <input type="text" name="username" id="form-username-input"><br>

    <p class="form-password-label">Пароль:</p>
    <input type="password" name="password" id="form-password-input"><br>

    <p class="form-name-label">Ф.И.О. :</p><br>
    <input type="text" name="name" id="form-name-input"><br>

    <p class="form-data-label">Дата рождения: </p><br>
    <input type="date" name="birth-date" id="form-data-input"><br>

    <p class="form-gender-label">Ваш пол:</p><br>
    <label>м: <input type="checkbox" name="gender-male" id="form-male-input"></label>
    <label>ж: <input type="checkbox" name="gender-female" id="form-female-input"></label><br>
    <input type="hidden" name="check-gender" id="form-gender-check-input">

    <p class="form-email-label">Электронная почта: </p>
    <input type="email" name="email" id="form-email-input"><br>

    <p class="form-phone-label">Контактный телефон: </p>
    <input type="text" name="phone" id="form-phone-input"><br>


    <label><input type="checkbox" name="ruls-check" id="form-rulls-input">Я прочитал и ознакомился с <span id="rulls">правилами</span> бла бла бла</label><br>

    <input type="button" id="registration-submit" value="Зарегистрироваться">
</div>

<script>

$("#registration-form").on("change", function(){
    $("#form-male-input").on("click", function(){
        if($("#form-female-input").prop("checked", true)){
            $("#form-gender-check-input").val("муж");
            $("#form-female-input").prop("checked", false);
        }
    });
    $("#form-female-input").on("click", function(){
        if($("#form-male-input").prop("checked", true)){
            $("#form-gender-check-input").val("жен");
            $("#form-male-input").prop("checked", false);
        }
    });

    if($("#form-male-input").is("checked", false) && $("#form-female-input").is("checked", false))
        $("#registration-submit").prop("disabled", true);
    else
        $("#registration-submit").prop("disabled", false);
});

$("#rulls").on("click", function(){
    window.open("/rulls");
    window.focus();
});

$("#registration-submit").on("click", function(){
    if($("#form-rulls-input").is(":checked", false)){
        alert('!!');
        var username = $('#form-username-input').val();
        var password = $('#form-password-input').val();
        var name = $('#form-name-input').val();
        var gender = $('#form-gender-check-input').val();
        var date = $('#form-data-input').val();
        var email = $('#form-email-input').val();
        var phone = $('#form-phone-input').val();

        $.ajax({
            type: "POST",
            url: "registration",
            data: {
                username: username,
                password: password,
                name: name,
                gender: gender,
                date: date,
                email: email,
                phone: phone
            },
            success: function (response){
                console.log("work" + response);
                if(response == 200)
                    location.href = "service";
                if(response == 500)
                    alert("Ошибка бд!");
            }
        });
    }
    else {
        alert("Изучите правила");
    }
});
</script>


